<!DOCTYPE html>
<html>
<head>
	<%= yield :head %>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<script type="text/javascript">
	$(document).ready(function() {
	<%= yield :jquery %>
	});
	</script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div id="left_column"><%= yield :left_column %></div>
			</div>
			<div class="col-sm-4">
				<div id="middle_column"><%= yield :middle_column %></div>
			</div>
			<div class="col-sm-4">
				<div id="right_column"><%= yield :right_column %></div>
			</div>
	</div>
</body>
</html>